{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container d-flex flex-column br-1 justify-content-evenly mt-3 flex-lg-row-reverse">
    <div class="lg-align-self-center m-3">
        <h2>Service d'entretien {{ controller_name }}! ✅</h2>
        <ul>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
        </ul>
    </div>

    <div class="lg-align-self-center m-3">
        <h2>Service de réparation {{ controller_name }}! ✅</h2>
        <ul>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
            <li>Entretien de XyZ</li>
        </ul>
        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ '/Users/sergionunez/ecf_garage_parrot/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/Users/sergionunez/ecf_garage_parrot/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
        </ul>
    </div>

</div>
    <h2 class="text-center">Commentaires et témoignages</h2>
    <div class="d-flex justify-content-evenly">

        <div class="container d-flex flex-column br-1 justify-content-evenly mt-3 flex-lg-row">

            <div class="text-center">
                <h3>Témoignage 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aut autem deserunt dolore est laboriosam neque perspiciatis provident, quam tempora, unde voluptas! Cum explicabo hic obcaecati recusandae reiciendis totam.</p>
                <span>&star;&star;&star;&star;&star;</span>
            </div>
            <div class="text-center">
                <h3>Témoignage 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aut autem deserunt dolore est laboriosam neque perspiciatis provident, quam tempora, unde voluptas! Cum explicabo hic obcaecati recusandae reiciendis totam.</p>
                <span>&star;&star;&star;&star;&star;</span>
            </div>
            <div class="text-center">
                <h3>Témoignage 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aut autem deserunt dolore est laboriosam neque perspiciatis provident, quam tempora, unde voluptas! Cum explicabo hic obcaecati recusandae reiciendis totam.</p>
                <span>&star;&star;&star;&star;&star;</span>
            </div>

        </div>

        <div class="align-self-center text-end me-3 text-lg-end">
            <a href="{{ path('app_comments') }}"><button class="btn btn-primary">Voir tout</button></a>
        </div>

    </div>
{% endblock %}
