<div class="header container-fluid">
    <header class="d-flex align-items-center justify-content-center justify-content-md-between py-3 border-bottom {{ app.session.flashBag.peek('succcess')|length > 0 ? '': ' mb-4'}}">
        <div class="col-3 mb-2 mb-md-0">
            <a href="{{ path('app_home') }}" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img class="logo mx-md-5" src="{{ asset('build/images/Logo/logo.jpeg') }}" alt="Logo"><!-- ATTENTION il y avait une SVG-->
            </a>
        </div>
        <div class="col-4">
            <h1>Garage Parrot</h1>
        </div>

        <div class="me-md-5 d-lg-none dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('app_home') }}"><button class="dropdown-item" type="button">Accueil</button></a></li>
                <li><a href="{{ path('app_vehicles_list') }}"><button class="dropdown-item" type="button">Liste des véhicules</button></a></li>
                <li><a href="{{ path('app_comments') }}"><button class="dropdown-item" type="button">Commentaires et temoignages</button></a></li>
            </ul>
        </div>

        <ul class="d-none d-lg-inline-flex nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 me-2">
            <li><a href="{{ path('app_home') }}" class="nav-link px-2 link-secondary">Accueil</a></li>
            <li><a href="{{ path('app_vehicles_list') }}" class="nav-link px-2">Liste des véhicules</a></li>
            <li><a href="{{ path('app_comments') }}" class="nav-link px-2">Commentaires et temoignages</a></li>
        </ul>

        <div class="d-none d-lg-flex justify-content-center align-item-start md-block d-block-md col-md-1 text-end me-1">
            <!-- <button type="button" class="btn btn-outline-primary me-2">Se connecter</button> -->
            <a class="link-light link-underline-opacity-0" href="{{ path('app_connection') }}" ><button type="button" class="btn btn-secondary me-1">Connexion</button></a>
            <!-- <button type="button" class="btn btn-warning ms-1">Déconnection</button> -->
        </div>
    </header>
</div>