{% extends 'base.html.twig' %}

{% block title %}Ajouter un commentaire{% endblock %}

{% block body %}

    <main>
        {# SUPPRIMER LIGNE ci-dessous #}
        <h2 class="text-center">{{ controller_name }}! ✅</h2>
        <h2 class="text-center">Laissez un commentaire</h2>

        <div class="col col-10 mx-auto">
            {{ form_start(commentForm) }}
                {{ form_label(commentForm.user_name) }}
                {{ form_widget(commentForm.user_name) }}

                {{ form_label(commentForm.content) }}
                {{ form_widget(commentForm.content) }}

                {{ form_label(commentForm.score) }}
                {{ form_widget(commentForm.score) }}

                {{ form_rest(commentForm) }}
                <button class="btn btn-primary" type="submit">Enregistrer</button>
            {{ form_end(commentForm) }}
        </div>

    </main>

{% endblock %}
