{% extends 'base.html.twig' %}

{% block title %}Vehicule{% endblock %}

{% block body %}

<main class="d-flex flex-column align-items-center">
    {# SUPPRIMER LIGNE ci-dessous #}
    <h2 class="text-center">{{ controller_name }}! ✅</h2>

    <div  class="col col-12 mx-1 col-lg-2 mx-3">
        <article>
            <h2 class="text-center">{{ vehicle.vehicleName }}</h2>
            {# ATTENTION je ne suis pas sûr de ce que vais obterni de get(0) #}
            {# ATTENTION je mettrai l'image dans une balise <a href="#"></a> #}
            <img src="#" alt="Image annonce">{{ vehicle.images.get(0) }}
            <ul class="list-unstyled">
                <li>Prix: {{ vehicle.price }} </li>
                <li>Kilomètres: {{ vehicle.kilometers }} </li>
                {# Récupération date et convertion en chaîne de caractères #}
                <li>Mise en circulation: {{ vehicle.registrationDate|date('d-m-Y') }} </li>
            </ul>
            {{ dump(vehicle) }}
        </article>
    </div>

    <div class="gallerie-images">
        <ul class="list-unstyled  d-flex">
{#            //Pour Affichage des images qu'il faudra intégrer dans l'action show du contrôleur "VehicleController"
            {% for image in images %}
                <li>
                    <div class="ms-3">
                        <a href="#Route images du véhicule"><img src="#" alt="image1">{{ vehicle.images({% image.title %}) }}</a>
                    </div>
                </li>
            {% endfor %}
#}
            <li>
                <div class="ms-3"><img src="#" alt="image1"></div>
            </li>
            <li>
                <div class="ms-3"><img src="#" alt="image2"></div>
            </li>
            <li>
                <div class="ms-3"><img src="#" alt="image3"></div>
            </li>
            <li>
                <div class="ms-3"><img src="#" alt="image4"></div>
            </li>
            <li>
                <div class="ms-3"><img src="#" alt="image5"></div>
            </li>

        </ul>

    </div>

</main>

{% endblock %}

