{% extends 'base.html.twig' %}

{% block title %}Vehicule{% endblock %}

{% block body %}

<main class="d-flex flex-column align-items-center">
    {# Voir si je dois SUPPRIMER LIGNE ci-dessous #}
    <h2 class="text-center">{{ vehicle.vehicleName }}! ✅</h2>
{#
    <div  class="col col-12 mx-1 col-lg-2 mx-3">
        <article>
            <h2 class="text-center">{{ vehicle.vehicleName }}</h2>
            <ul class="list-unstyled">
                <li>Prix: {{ vehicle.price }} </li>
                <li>Kilomètres: {{ vehicle.kilometers }} </li>
                <li>Mise en circulation: {{ vehicle.registrationDate|date('d-m-Y') }} </li>
                <li>
                     ATTENTION je mettrai l'image dans une balise <a href="#"></a>
                    <img src="{{ vich_uploader_asset(vehicle) }}" alt="vehicle.name">
                </li>
                <li>Description: {{ vehicle.description }}</li>
            </ul>
        </article>
    </div>
#}
    <div class="card mb-2" style="width: 22rem;">
            <h5 class="text-center card-title">{{ vehicle.vehicleName }}</h5>
        {#  <img src="{{ vich_uploader_asset(vehicle) }}" class="card-img-top" alt="image {{ vehicle.vehicleName }}">  #}
        <img src="{{ vich_uploader_asset(vehicle) }}" class="card-img-top" alt="image {{ vehicle.vehicleName }}">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Prix: {{ vehicle.price }} </h6>
            <h6 class="card-subtitle mb-2 text-muted">Kilomètres: {{ vehicle.kilometers }} </h6>
            {# Récupération date et convertion en chaîne de caractères #}
            <h6 class="card-subtitle mb-2 text-muted">Mise en circulation: {{ vehicle.registrationDate|date('d-m-Y') }}</h6><br>
            <h6 class="card-subtitle mb-2 text-muted">Description:</h6>
            <p class="card-text">{{ vehicle.description }}</p>
            <a href="#" class="btn btn-primary">Je prends contact</a>
        </div>
    </div>

{#            //Pour Affichage des images qu'il faudra intégrer dans l'action show du contrôleur "VehicleController"
            {% for image in images %}
                <li>
                    <div class="ms-3">
                        <a href="#Route images du véhicule"><img src="#" alt="image1">{{ vehicle.images({% image.title %}) }}</a>
                    </div>
                </li>
            {% endfor %}
#}

    <div id="carouselExampleSlidesOnly" class="carousel slide m-3" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active ms-3">
                <img src="#" class="d-block w-100" alt="image A">
            </div>
            <div class="carousel-item ms-3">
                <img src="#" class="d-block w-100" alt="image B">
            </div>
            <div class="carousel-item ms-3">
                <img src="#" class="d-block w-100" alt="image C">
            </div>
        </div>
    </div>

</main>

{% endblock %}

