{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <main>

        <div class="col col-10 my-3 mx-auto col-lg-6">

            <h2 class="text-center mt-3 mt-md-4">Formulaire de contact</h2>

            {{ form_start(contactForm) }}

                {{ form_label(contactForm.subject) }}
                {{ form_widget(contactForm.subject) }}

                {{ form_label(contactForm.last_name) }}
                {{ form_widget(contactForm.last_name) }}

                {{ form_label(contactForm.first_name) }}
                {{ form_widget(contactForm.first_name) }}

                {{ form_label(contactForm.email) }}
                {{ form_widget(contactForm.email) }}

                {{ form_label(contactForm.phone_number) }}
                {{ form_widget(contactForm.phone_number) }}

                {{ form_label(contactForm.message) }}
                {{ form_widget(contactForm.message) }}

                {{ form_label(contactForm.garage) }}
                {{ form_widget(contactForm.garage) }}

                {{ form_rest(contactForm) }}
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Enregistrer</button>
                </div>
            {{ form_end(contactForm) }}
        </div>

   </main>
{% endblock %}
